{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
{% endblock  %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static "blog/images/manguito.jpeg" %}" alt="the author it this blog">
        <h2>MY BLOG</h2>
    </header>
    <p>Hi, I am Bobby and I love to blog about my bird manguito</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% for post in posts  %}
        {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
    <h2>What I do</h2>
    <p>I love programming, and I love to work on interesting projects!</p>
    <p>My goal is to keep on growing as a software engineer</p>
</section>
{% endblock  %}